* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

header {
  height: 20vh;
  text-align: center;
  background-color: #ff8787;
}
img {
  height: 15vh;
}
form {
  text-align: left;
}
.container {
  display: flex;
}
#sidebar {
  background-color: #73c2fb;
  height: 70vh;
  width: 20%;
  ul {
    list-style-type: none;
    display: none;
    li {
      padding: 0.5rem;
      background-color: #1c7ed6;
      margin: 0.5rem;
      color: white;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  ::placeholder {
    text-align: left;
  }
  &:hover {
    h1 {
      display: none;
    }
    ul {
      display: block;
      cursor: pointer;
    }
  }
}
#content {
  background-color: #ffd43b;

  height: 70vh;
  width: 80%;
}
footer {
  background-color: #183153;
  padding: 1rem;
  text-align: center;
  height: 10vh;
}
form {
  display: none;
  position: absolute;
  left: 20%;
}
#project1 {
  display: none;
}
#project1:checked ~ form {
  display: block;
}
